.navbar.navbar-default.navbar-fixed-top
  .container{style: "padding-bottom:30px;"}
    .navbar-header
      %a.navbar-brand{:href => "/list", target: "blank"}
        = image_tag("logo.png")
      %ul.nav.navbar-nav.navbar-right
        %li.active.pull-right{style: "padding-right:30px;"}
          - if user_signed_in?
            = link_to "sign out", destroy_user_session_path, style: "padding: 7px !important;", method: :delete
